@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

body {
    background: #dadada;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    padding: 10px 20px;
    color: white;
}

.nav-country {
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
}
.nav-country h1{
    color: white;
    font-size: 14px;
}
.nav-search {
    flex: 1;
    display: flex;
    align-items: center;
    background: white;
    color: grey;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-search-category {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background-color: #e5e5e5;
    border-radius: 4px 0px 0px 4px;
}

.nav-search-input {
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}

.nav-search-icon {
    max-width: 41px;
    padding: 8px;
    background: #ffd64f;
      border-radius: 0px 4px 4px 0px;
}
.nav-language{
    display: flex;
    align-items: center;
    gap: 2PX;
    font-weight: 600;
    margin-left: 15PX;
}
.navtext{
    margin-left: 15px;
}
.navtext p{
    font-size: 10px;
}
.navtext h1{
    font-size: 14px;
}

.nav-cart{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}
.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background: #232f3e;
    color: white;
    font-size: 15px;
}

.nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/*box 2 **/
.add-first {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/*** box3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #4b4339;
}

.nav-search :hover {
    border: 2px solid orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/****box 4**/
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/***box 4***/
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.pannel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: whitesmoke;
    align-items: center;
    justify-content: space-evenly;

}

.pannel-opt p {
    display: inline;
    margin-left: 15px;

}

.pannel-opt {
    width: 70%;
    font-size: 0.86rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

.herosection {
    background-image: url('hero_image.jpg');
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.heromsg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.heromsg a {
    color: #007185;

}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:
        #e2e7e6;
}

.box {

    height: 400px;
    width: 23%;
    background-color: whitesmoke;
    margin-top: 15px;
    padding: 20px 0px 15px;
}

.box-img {

    height: 300px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-content {
    margin-left: 10px;
    margin-right: 10px;
}

.box-content p {
    color: #007185;
}

.foot-pannel {
    background-color: #374583;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.85rem;

}

.foot-pannel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}

ul {
    margin-top: 20px;
}


ul a {
    margin: 10px;
    font-size: 0.85rem;
    display: block;
    color: #dddddd;
}

.foot-pannel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    background-image: url(./assets/amazon_logo.png);
    background-size: cover;
    height: 66px;
    width: 211px;
    /* padding: 14px 8px; */
    margin: 30px;
}



.bottom-footer {

    border: 1px solid white;
    background-color: #232f3e;
    width: 109px;
    height: 40px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* align-items: center; */
    padding: 12px 3px 10px 8px;
}

.footer-box {
    width: 5px;
    height: 20px
}

.footer-logo {

    width: 15px;
    height: 15px;
    display: flex;
    /* Aligns the icon and button horizontally */
    align-items: center;
    /* Centers the items vertically */
    justify-content: center;
    padding: 0px 7.8px;
    font-size: 15px;
    /* Increase the size of the globe icon */
}

.lang {
    width: 39px;
    height: 21px;
    padding: 0px;
    font-size: 17px;
    margin: 8px;
}

.menu {
    height: 12px;

    width: 16px;
    padding: 0px 15px 0px 15px;
}

.bottom-footter {
    gap: 20px;
    border: 1px solid white;
    background-color: #232f3e;
    width: 122px;
    padding: 6px 13px 6px 8px;
}

.footterloogo {

    width: 119px;
    height: 18px;
    margin: 3px;
    display: flex;
    font-size: 15px;
}



.lang2 {
    
    font-size: 13px;
}

.foot-pannel4 {
    background-color: #0f1111;
    color: whitesmoke;
    height: 100px;
    font-size: 0.75rem;
    text-align: center;
}

.pages {

    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}